.enter-btn {
  transition: 0.3s ease;
  text-align: center;
  padding: 9px 12px;
  border-radius: 100px;
  background-color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover{
    border: 1px solid var(--primary)
  }
}
