$primary-color:#000;
$secondary-color:#fff;
$bg-color:#F9F8F7;
$title-color:#0F1826;
$text-color:#607987;
$brown-color:#BA8D5B;
$green-color:#0EB182;
$main-bg-color:#F1F0EE;
$btn-bg-color:#F7F7F5;
$gray-color:rgba(0, 0, 0, 0.5);
$breadcrumb-color:#C4C4C4;